<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>602261288799-rcb65n1l1ouugoe8hrsp8arerk9afhsp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602261288799-rcb65n1l1ouugoe8hrsp8arerk9afhsp</string>
	<key>API_KEY</key>
	<string>AIzaSyDqzQpLU7c0MSIUcNE91BRmISI6ETV7hlY</string>
	<key>GCM_SENDER_ID</key>
	<string>602261288799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aviskotian.heartstonelib</string>
	<key>PROJECT_ID</key>
	<string>heartstonelib-53012</string>
	<key>STORAGE_BUCKET</key>
	<string>heartstonelib-53012.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602261288799:ios:b6daba9e3bd1cebc0b68ea</string>
</dict>
</plist>