<ion-header>
  <ion-toolbar>
    <ion-title>{{cardDeckGroup}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <app-search 
  (searchCompleted)="hydrateCards($event)" 
  [items]="copyOfCards"
  [filteredProperty] = "'name'"
  (searchStarted)="handleSearch()"
  ></app-search>
  <ion-spinner text-center *ngIf="isLoading"></ion-spinner>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="cards.length > 0">
    <ion-card *ngFor="let card of cards | slice:0:limit">
      <ion-card-header text-wrap>
        <ion-card-title>{{card.name}}</ion-card-title>
        <ion-card-subtitle>
          {{card.cardSet}}
          <ion-icon name="flame" [ngClass]="card.favorite ? 'favorite' : ''" class="like-icon" (click)="favoriteCard(card)"></ion-icon>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div [innerHTML]="card.text"></div>
        <ion-button size="medium" expand="full" [routerLink]="'/tabs/card/' + card.cardId">
          See Detail
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
